* {
  border: 0;
  padding: 0;
  margin: 0;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: big john;
  width: 100%;
  height: 100vh;

}

h2 {
  font-size: 60px;
  padding: 8px 24px;
  background-color: #eee;
  border-radius: 16px;
}

div:nth-child(1) {
  background-image: url(img/div-1.jpeg);
  background-size: cover;
}

div:nth-child(2) {
  background-color: maroon;
}

div:nth-child(3) {
  background-image: url(img/div-2.jpeg);
  background-size: cover;
  background-attachment: fixed;
  height: 400px;
}

div:nth-child(4) {
  background: aquamarine;
}